/* Navbar Styles */
.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    z-index: 1000;
    margin-top: 10px;
  }
  
  .navbar-logo {
    width: auto;
    /* Ensure the container doesn't constrain the logo's size */
    height: auto;
    position: absolute;
  }
  
  .navbar-logo img {
    margin-top: 40px;
    width: 200px;
    /* Adjust the width of the logo */
    height: auto;
    /* Maintain the aspect ratio */
    max-height: 150px;
    /* Optionally limit the maximum height */
  }
  
  .logo-accent {
    color: #000;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
    margin-left: 180%;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #1382c7;
    /* Change to any highlight color */
  }
  
  
